@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

@font-face {
    font-family: spidey;
    src: url(../font-style/homoarakhn.regular.ttf)
}

body,
html {
    height: 100%;
    display: grid;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}

/* Welcome page */
.welcome {
    background: url(../images/welcome-background.webp)no-repeat, center;
    background-size: cover;
}

#starting h1 {
    color: #ffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(169, 169, 169, 0.8);
    border-radius: 30%;
    padding: 1%;
}

#cont {
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 50px;
    background-color: inherit;
    border-radius: inherit;
}

hr {
    display: none;
}

.hide {
    display: none;
}

/* Main sections*/
.background {
    background: url(../images/spiderman-wallpaper.jpg)no-repeat, center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: spidey;
    font-weight: 600;
    font-size: 300%;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 550px;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 25px;
    padding: 15px;
}

/*Quiz related styling*/
#question {
    text-align: center;
    justify-content: center;
    margin-top: 7%;
    width: fit-content;

}

h2 {
    background-color: #ffff;
    color: #447BBE;
    text-transform: uppercase;
    font-weight: 600;
    font-size: xx-large;
    border-radius: 25px;
    text-align: center;
    padding: 1%;
}

.bttn {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 40px;
    background-color: #447BBE;
    border-width: 4px;
    border-color: #ffff;
    color: #ffff;
    font-weight: 300;
    font-size: large;
    font-family: 'Comic Neue', cursive;
}

#scores,
#timer {
    text-align: center;
    color: #ffff;
    font-size: 120%;
    margin-top: 20px;
}

#scores {
    float: left;
}

#timer {
    float: right;
}

/* Final page */
.result-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 550px;
    background-color: RGB(43, 55, 132, 0.6);
    border-radius: 25px;
    padding: 15px;
}

.result-box h2 {
    color: red;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons>button {
    margin: 20px;
    border: #303232;
    border-width: 10px;
    background-color: #ffff;
    color: red;
    padding: 15px;
    border-radius: 50%;
    font-size: large;
}

.nav-buttons>button span {
    color: #447BBE;
}

#final-image {
    width: 100%;
}

h3 {
    background-color: red;
    color: #ffff;
    text-align: center;
    border-radius: 45%;
    padding: 5%;
}

/*Footer and the social links*/
footer {
    height: 100px;
    background-color: #447BBE;
    margin-top: auto;
    text-align: center;
}

footer i {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    font-size: x-large;
    color: #ffff;
}

footer p {
    float: left;
    width: 5%;
    font-size: small;
    font-family: spidey;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 200%;
    }
}

@media screen and (max-width: 1080px) {
    h1 {
        font-size: 150%;
    }
}

@media screen and (max-width: 580px) {
    .welcome {
        background: url(../images/welcome-mobile.webp)no-repeat, center, center;
        background-size: cover;
    }

    #starting h1 {
        background-color: rgb(10, 43, 78, 0.8);
        width: 100%;
        border-radius: 25px;
        font-size: xx-large;
    }

    #starting span {
        position: absolute;
        left: 0;
        bottom: 10px;
        background-color: rgb(10, 43, 78, 0.8);
        border-radius: 25px;
    }

    .background {
        background: url(../images/spiderman-mobile.webp) no-repeat, center;
        background-size: cover;
        background-attachment: fixed;
    }

    .box {
        height: 70%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: x-large;
        padding: 2px;
        border-color: red;
        border-width: 4px;
    }

    .bttn {
        font-size: inherit;
    }

    .result-box {
        height: fit-content;
        width: 100%;
        padding: 0;
    }

}