@font-face {
    font-family: spidey;
    src: url(../Font-style/homoarakhn.regular.ttf)
}

body,
html {
    height: 100%;
    display: grid;
    margin: 0;
}

.welcome {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/942d6891-f116-4a84-9c4e-cd6f2e736369/dcpnqvz-2d29d21a-4cbf-4e9e-8214-24183b45cd15.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk0MmQ2ODkxLWYxMTYtNGE4NC05YzRlLWNkNmYyZTczNjM2OVwvZGNwbnF2ei0yZDI5ZDIxYS00Y2JmLTRlOWUtODIxNC0yNDE4M2I0NWNkMTUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uBlCPfGnjbFg5LKbg3auyL3NnGNc01obaH6XPJLddGI)no-repeat, center;
    background-size: cover;
}

#starting h1 {
    color: #ffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 35%;
}

#cont {
    text-align: center;
    margin-top: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

hr {
    display: none;
}

.hide {
    display: none;
}


.background {
    background: url(../images/Spiderman.Wallpaper.Op05.jpg)no-repeat, center;
    background-size: cover;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: spidey;
    font-weight: 600;
    font-size: 300%;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 650px;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 25px;
    padding: 15px;
}

#question {
    display: inline-flexbox;
    text-align: center;
    justify-content: center;
    margin-top: 7%;
    width: fit-content;

}

h2 {
    background-color: #ffff;
    color: #447BBE;
    text-transform: uppercase;
    font-weight: 600;
    font-size: xx-large;
    border-radius: 25px;
    text-align: center;
    padding: 1%;

}

.bttn {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 40px;
    background-color: #447BBE;
    border-width: 4px;
    border-color: #ffff;
    color: #ffff;
    font-weight: 300;
    font-size: large;

}

#scores,
#timer {
    text-align: center;
    color: #ffff;
    font-size: 120%;
    margin-top: 20px;
}

#scores{
    float: left;
}
#timer{
    float: right;
}

.result-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 650px;
    background-color: RGB(43, 55, 132, 0.6);
    border-radius: 25px;
    padding: 15px;
}

.result-box h2 {
    color: red;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons>button {
    margin: 20px;
    border: #303232;
    border-width: 10px;
    background-color: #ffff;
    color: red;
    padding: 15px;
    border-radius: 50%;
}

.nav-buttons>button span{
    color: #447BBE;
}

#final-image {
    width: 100%;
}

h3 {
    background-color: red;
    color: #ffff;
    text-align: center;
    border-radius: 45%;
    padding: 5%;
}

@media screen and (max-width: 900px) {
    .welcome {
        background: url(../images/welcome-mobile-_1_.webp);
        background-size: cover;
    }

    #starting h1 {
        background-color: rgb(10, 43, 78, 0.8);
        width: 100%;
        border-radius: 25px;
        font-size: xx-large;
    }

    #starting span {
        position: absolute;
        bottom: 10px;
        background-color: rgb(10, 43, 78, 0.8);
        border-radius: 25px;
    }

    .box {
       height: 600px;
    }

    h2{
        font-size: x-large;
    }

    .bttn{
        font-size:inherit;
    }
}