@font-face {
    font-family: homoarakhn;
    src: url(../assets/Font-style/homoarakhn.regular.ttf);
}

#background{
    background: url(../assets/images/Spiderman.Wallpaper.Op05.jpg)no-repeat,center ;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: homoarakhn;
    font-weight: 600;
    font-size:300%;
}

#quiz-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 650px;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 25px;
}
#question{
    display: inline-flexbox;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    margin-left:30%;
    margin-right: 30%;
    padding-top: 5%;
}

h2{
    background-color: #ffff;
    color: #447BBE;
    text-transform: uppercase;
    font-weight: 600;
    font-size: xx-large;
    border-radius: 25px;
}

.answers{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding-left:15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 40px;
    background-color: #447BBE;
    border-width: 4px;
    border-color: #ffff;
    color: #ffff;
    font-weight: 300;
    font-size: large;
    
}